.typography-text {
  font-size: 1.1em;
}

.typography-p {
  font-size: 0.925em;
  color: lightgray;
  line-height: 24px;
  font-weight: bold;
}

.typography-h1 {
  font-size: 44px;
}

.typography-h3 {
  font-size: 20px;
}
